@use "./mixin";
@use "./color" as color;

.back_button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 320px;
  height: 48px;
  margin: 64px auto 0;
  background: #fff;
  border: 3px solid #000;
}