@use './mixin';

.footer {
  background: #fff;
  border: 3px solid #000;
  &_inner {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1032px;
    height: 40px;
    margin: 0 auto;
    padding: 0 16px;
  }
  &_copy {
    font-size: 1.1rem;
    text-align: center;
  }
}