@use './mixin';

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  border: 3px solid #000;
  z-index: 50;
  &_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1030px;
    height: 48px;
    margin: 0 auto;
    padding: 0 15px;
  }
  &_logo {
    font-size: 1.8rem;
    font-weight: bold;
  }
}