@import './mixin';

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border: 3px solid #000;
  &_inner {
    max-width: 1030px;
    height: 48px;
    margin: 0 auto;
    padding: 0 15px;
  }
  &_logo {
    font-size: 1.8rem;
    font-weight: bold;
  }
}