@use "./mixin";
@use "./color" as color;

.worksBlog {
  &_title {}
  &_date {
    font-size: 1.4rem;
    margin-top: 16px;
  }
  &_thumbnail {
    margin-top: 8px;
  }
  &_content {
    margin-top: 32px;

  }
}